<dl class="author">
	<dt ng-show="loaded">本周推薦</dt>
	<dd ng-repeat="(key, value) in rec">
		<div class="avatar">
			<img ng-src="{{value.avatar}}">
		</div>
		<div class="info">
			<h5 ng-bind="value.name"></h5>
			<p ng-bind="value.editor_notes"></p>
		</div>
	</dd>
	<dt ng-show="loaded">熱門作者</dt>
	<dd ng-repeat="(key, value) in all">
		<div class="avatar">
			<img ng-src="{{value.avatar}}">
		</div>
		<div class="info">
			<h5 ng-bind="value.name"></h5>
			<p ng-bind="value.editor_notes"></p>
		</div>
	</dd>
</dl>