<div class="item">
	<!-- 日期分类 -->
	<div class="mark" ng-show="loaded">{{date|date:'ddMMM'}}</div>
	<ul class="posts large">
		<!-- 文章 -->
		<li ng-repeat="(key, value) in data">
			<span href="javascript:;" class="tag" ng-if="value.column.name" ng-bind="value.column.name"></span>
			<div class="cont">
				<h3 ng-bind="value.title"></h3>
				<div class="brief">
					<!-- 10001 -->
					<!-- 10002 -->
					<p ng-class="{only: value.display_style == 10001}" ng-bind="value.abstract" ng-if="value.display_style != 10003"></p>
					
					<!-- 10002 -->
					<div class="thumb" ng-if="value.display_style == 10002">
						<!-- 錯誤代碼 403 暫時無解，可能是伺服器設置防盜鏈接 -->
						<!--<img ng-src="{{value.thumbs[0].small.url}}" alt="">-->
					</div>
					
					<!-- 10003 -->
					<div class="gallery" ng-if="value.display_style == 10003">
						<!-- 錯誤代碼 403 暫時無解，可能是伺服器設置防盜鏈接 -->
						<!--<img ng-src="{{value.thumbs[0].small.url}}">-->
					</div>
				</div>							
			</div>
		</li>
	</ul>
</div>